[submodule "vendor/bazil.org/fuse"]
	path = vendor/bazil.org/fuse
	url = https://github.com/bazil/fuse
[submodule "vendor/github.com/opencontainers/runc"]
	path = vendor/github.com/opencontainers/runc
	url = https://github.com/opencontainers/runc
[submodule "vendor/golang.org/x/net"]
	path = vendor/golang.org/x/net
	url = https://go.googlesource.com/net
[submodule "vendor/github.com/Sirupsen/logrus"]
	path = vendor/github.com/Sirupsen/logrus
	url = https://github.com/Sirupsen/logrus
[submodule "vendor/github.com/docker/go-units"]
	path = vendor/github.com/docker/go-units
	url = https://github.com/docker/go-units
